/*
 * @Author:loserjohn
 * @Date:2022-04-01 12:08:02
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-17 16:28:07
 * @Description:---
 * @FilePath     : \company\src\styles\common.scss
 */

:root {
  --guo: #FF5B43;
  --shen: #FFA743;
  --shi: #53DC95;
  --qu: #5686EA;
  
  --primary:#0070FF;
  --mainWidh :1200px
  
}

html{
  font-size: 16px;
}
 

body {
  height: 100%; 
  // font-family: Source Han Sans CN,Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
  //   Microsoft YaHei, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(247, 247, 247);
  color: #333333;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fstart{
  justify-content: flex-start;
}
.fend{
  justify-content: flex-end;
}
.flex_y {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f1 {
  flex: 1;
}
 
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pages {
  width: 100%;
  overflow: hidden;
}
.image-slot{
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.cm_container{
  // width: 100%;
  width: var(--mainWidh);
  margin:  0 auto ;
  //  background-color: #f1f1f1;
}
 



// ele 样式覆盖
.el-carousel__indicator{
  .el-carousel__button{
    width: 60px;
    height: 8px;
    background: #fff!important;
    opacity: .4!important;
    transform: skewX(-15deg)!important; 
  }
}

.is-active{
  .el-carousel__button{
    opacity: 1!important;
    background-color: var(--primary)!important;
  }
 
}
.el-carousel__mask{
  background: none!important;
}


.el-carousel__indicators--horizontal{
  display: flex;
}
// *********************** 移动相应  **************************

@media screen and (max-width: 1026px){
  .cm_container{
    width: 100%!important;
    // width: var(--mainWidh); 
    //  background-color: #f1f1f1;
  }
  html{
    font-size: 8px; /*no*/   
  } 
  .el-carousel__indicator{
    .el-carousel__button{
      width: 30px!important; 
      height: 4px;
    }
  }
  .el-carousel__indicators--horizontal {
    bottom: 24px!important; 
    // left: 18%!important; 
    transform:  translateX(-84%)!important  ;
  }
  .panel_title{
    font-weight: 600!important;
  }
  
}
 
@media screen and ( min-width:1026px) and (max-width: 1260px){
    // html{
    //   font-size: 12px; /*no*/   
    // }
     
    .panel_top{
      font-size: 60px;/*no*/   
    }
    .panel_title{
      font-size: 36px;/*no*/   
    }
}
@media screen and ( min-width:1260px) and ( max-width:1560px ) {
  // html{
  //   font-size: 14px; /*no*/   
  // }
  
  .panel_top{
    font-size: 66px;/*no*/   
  }
  .panel_title{
    font-size: 40px;/*no*/   
  }
}

.mobile{

  .panel_top{
    font-size: 40px!important;
    text-align: left!important;
    .panel_title{
      font-size: 34px!important;
      top: -20px!important;
      text-align: left!important;
    }
  }
}


@keyframes move {
  0% {
    opacity: 0;
    transform: rotate(-60deg) translateX(-100%);
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 0;
    transform: rotate(-60deg) translateX(100%);
  }
}
@keyframes move1 {
  0% {
    opacity: 0;
    transform: rotate(-37deg) translateX(-100%);
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: 0;
    transform: rotate(-37deg) translateX(100%);
  }
}
@keyframes move2 {
  0% {
    opacity: 0;
    transform: rotate(-16deg) translateX(-100%);
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 0;
    transform: rotate(-16deg) translateX(100%);
  }
}
@keyframes move3 {
  0% {
    opacity: 0;
    transform: rotate(16deg) translateX(-100%);
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 0;
    transform: rotate(16deg) translateX(100%);
  }
}
@keyframes move4 {
  0% {
    opacity: 0;
    transform: rotate(46deg) translateX(-100%);
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 0;
    transform: rotate(46deg) translateX(100%);
  }
}