<!--
 * @Author       : xh
 * @Date         : 2022-05-11 17:01:03
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-17 17:04:43
 * @FilePath     : \company\public\index.html
-->
<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <meta name="author" content="福建游龙">
  <meta name="copyright" content="Copyright (c) 2015 920yl.com.">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="description" content="福建游龙网络科技有限公司">
  <meta name="keywords" content="游龙, 游戏, 网络, 福建">
  <meta name="keywords" content="游龙集团" />
  <meta name="keywords" content="游龙网络" />
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title> 福建游龙网络科技有限公司</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
