<!--
 * @Author       : xh
 * @Date         : 2022-05-10 10:56:29
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-18 16:39:14
 * @FilePath     : \company\src\views\joinDetail\index.vue
-->
<template>
  <div :class="ifMobile ? 'pages m_page' : 'pages'">
    <div v-if="ifMobile" class="m_detail" :style="panelStyle">
      <div class="m_content">
        <div class="m_ti">
          {{ detail.title }}
        </div>
        <div class="flex">
          <div class="f1 flex m_cells">
            <img src="@/assets/gz.png" class="icons" alt="">
            <p>工作经验：  {{ detail.experiences }}</p>
          </div>
          <div class="f1 flex m_cells">
            <img src="@/assets/xw.png" class="icons" alt="">
            <p>学历要求： {{ detail.education_require }}</p>
          </div>
        </div>
        <div class="flex">
          <div class="f1 flex m_cells">
            <img src="@/assets/zc.png" class="icons" alt="">
            <p>职位类型： {{ detail.job_type }}</p>
          </div>
          <div class="f1 flex m_cells">
            <img src="@/assets/sz.png" class="icons" alt="">
            <p>招聘类型： {{ detail.recruit_type }}</p>
          </div>
        </div>
        <div class="flex m_cells">
          <img src="@/assets/sj.png" class="icons" alt="">
          <p>发布日期： {{ detail.released_at }}</p>
        </div>
        <div class="flex m_cells">
          <img src="@/assets/dd.png" class="icons" alt="">
          <p>工作地点： {{ detail.area }}</p>
        </div>
        <ul class="m_row flex">
          <li v-for="(item,index) in detail.tags" :key="index" class="flex m_tags">
            {{ item.title }}
          </li>
        </ul>
      </div>
    </div>
    <div :class="ifMobile ? 'm_pad' : ''">
      <div class="cm_container">
        <div v-if="!ifMobile" class="top">
          职位详情
        </div>
        <div v-if="!ifMobile" class="messageBox animated fadeInUp" :style="panelStyle">
          <h3 class="tit">
            {{ detail.title }}
          </h3>
          <ul class="row flex">
            <li class="flex col">
              <img src="@/assets/gz.png" class="icons" alt="">
              <p>工作经验： {{ detail.experiences }}</p>
            </li>
            <li class="flex col">
              <img src="@/assets/xw.png" class="icons" alt="">
              <p>学历要求： {{ detail.education_require }}</p>
            </li>
            <li class="flex col">
              <img src="@/assets/zc.png" class="icons" alt="">
              <p>职位类型： {{ detail.job_type }}</p>
            </li>
            <li class="flex col">
              <img src="@/assets/sz.png" class="icons" alt="">
              <p>招聘类型： {{ detail.recruit_type }}</p>
            </li>
          </ul>
          <ul class="row flex">
            <li class="flex col">
              <img src="@/assets/sj.png" class="icons" alt="">
              <p>发布日期： {{ detail.released_at }}</p>
            </li>
            <li class="flex col">
              <img src="@/assets/dd.png" class="icons" alt="">
              <p>工作地点： {{ detail.work_place }}</p>
            </li>
          </ul>

          <ul class="row flex">
            <li v-for="(item,index) in detail.tags" :key="index" class="flex tags">
              {{ item.title }}
            </li>
          </ul>
        </div>
        <div class="  mainContent">
          <div class="content">
            <p v-html="detail.detail" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {jobsDetail} from '@/api/app';
export default {
  name: 'JoinDetailPage',
  props: {
    scrollTop: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      show: false,
      detail: {},
      ifMobile: this.$ifMobile,
      panelStyle: {},
      active: 1
    };
  },
  computed: {
  },
  watch: {},
  created() {
    this.$bus.$emit('loadPageOver', true);
  },
  mounted() {
    const { id } = this.$route.params;
    this.intData(id);
    let back = localStorage.getItem('jobBackground');
    this.panelStyle = {
      'background-image': `url(${back})`
      // 'background-attachment': this.$ifMobile ? 'none' : 'fixed'
    };
  },
  activated() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  },
  methods: {
    async intData(id) {
      try {
        const res = await jobsDetail(id);
        this.detail = res;
        this.$bus.$emit('loadPageOver', false);
      } catch (error) {

      }
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });

    }
  }
};
</script>


<style lang="scss" scoped>
.pages {
  padding: 88px 0;

  .cm_container {
    // padding: 45px 56px;
    text-align: left;
    background: #fff;
    box-shadow: 0px 2px 14px 0px rgba(1, 9, 72, 0.08);
    .top {
      font-size: 18px;
      font-weight: 500;
      color: #333333;
      padding: 0 70px;
      line-height: 65px;
      background-color: #fff;
    }
    .messageBox {
      width: 100%;
      // height: 336px;
      background-color: rgb(101, 124, 143);
      padding: 70px 60px;
      color: #fff;
      text-align: left;
      .tit {
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        line-height: 1;
        margin-bottom: 12px;
      }
      .row {
        justify-content: flex-start;
        align-items: center;

        .icons {
          width: 30px;
          height: 30px;
          margin-right: 15px;
        }
        .tags {
          background: var(--primary);
          border-radius: 16px;
          height: 32px;
          text-align: center;
          padding: 0 28px;
          color: #fff;
          margin-right: 52px;
          margin-top: 16px;
        }
        .col {
          margin-right: 58px;
          align-items: center;
          margin-top: 30px;
        }
      }
    }

    .mainContent {
      padding: 70px;
      .title {
        font-size: 22px;
        font-weight: 600;
        color: #333333;
        text-indent: 20px;
        position: relative;
        line-height: 1;
        margin-bottom: 50px;
        &::before {
          content: '';
          width: 4px;
          height: 21px;
          background-color: var(--primary);
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .cells {
        font-size: 18px;
        font-weight: 500;
        color: #333333;
        line-height: 48px;
        text-indent: 20px;
      }
    }
  }
}

.m_page {
  padding: 0;

  .m_detail {
    background: rgb(101, 124, 143);
    padding: 22px;
    text-align: left;
    color: #fff;
    .m_content {
      background: rgba(255, 255, 255, 0.288);
      padding: 28px 32px;
      font-size: 27px;
      border: .5px  solid rgb(127, 154, 243);
      .icons {
        width: 29px;
        height: 25px;
        margin-right: 13px;
      }
      .m_ti {
        font-size: 34px;
        font-weight: 600;
        color: #ffffff;
        margin-bottom: 30px;
      }
    }
    .m_tags {
      height: 37px;
      background: #0070ff;
      border-radius: 18px;
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      margin-right: 35px;
      padding: 0 20px;
    }
    .m_cells {
      margin-top: 30px;
      justify-content: flex-start;
    }
    .m_row {
      margin-top: 30px;
      justify-content: flex-start;
    }
  }
  .m_pad {
    padding: 27px;
  }
  .mainContent{
   padding: 27px!important;
  }
  .content{

    font-size: 28px;
  }
}
</style>
