<!--
 * @Author       : xh
 * @Date         : 2022-05-10 10:56:06
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-17 16:09:03
 * @FilePath     : \company\src\views\join\index.vue
-->
<template>
  <div :class="ifMobile ? 'pages m_page' : 'pages'">
    <!-- *************m************* -->
    <div v-if="ifMobile" class="searchBox">
      <div class="cm_container flex">
        <div class="f1 flex" @click="toggle(1)">
          <span :style="{color:show &&current==1?'rgba(0, 112, 255, 1)':'rgba(51, 51, 51, 1)'}">招聘类型</span>
          <i :class="show && current==1?'el-icon-arrow-up':'el-icon-arrow-down'" :style="{color:show && current==1?'rgba(0, 112, 255, 1)':'rgba(51, 51, 51, 1)'}" />
        </div>
        <div class="f1 flex" @click="toggle(2)">
          <span :style="{color:show &&current==2?'rgba(0, 112, 255, 1)':'rgba(51, 51, 51, 1)'}">职位类别</span>
          <i :class="show && current==2?'el-icon-arrow-up':'el-icon-arrow-down'" :style="{color:show && current==2?'rgba(0, 112, 255, 1)':'rgba(51, 51, 51, 1)'}" />
        </div>
        <div class="f1 flex" @click="toggle(3)">
          <span :style="{color:show &&current==3?'rgba(0, 112, 255, 1)':'rgba(51, 51, 51, 1)'}">工作经验</span>
          <i :class="show && current==3?'el-icon-arrow-up':'el-icon-arrow-down'" :style="{color:show && current==3?'rgba(0, 112, 255, 1)':'rgba(51, 51, 51, 1)'}" />
        </div>
        <div class="f1 flex" @click="toggle(4)">
          <span :style="{color:show &&current==4?'rgba(0, 112, 255, 1)':'rgba(51, 51, 51, 1)'}">学历要求</span>
          <i :class="show && current==4?'el-icon-arrow-up':'el-icon-arrow-down'" :style="{color:show && current==4?'rgba(0, 112, 255, 1)':'rgba(51, 51, 51, 1)'}" />
        </div>
      </div>
      <div v-if="show && current==1" class="hidden flex animated fadeInDown">
        <button
          v-for="(item,index) in options1" :key="index" :class="formParams.recruitType===item.value ? 'options active':'options'"
          @click="choose('recruitType',item.value)"
        >
          {{ item.label }}
        </button>
      </div>
      <div v-if="show && current==2" class="hidden flex animated fadeInDown">
        <button
          v-for="(item,index) in options2" :key="index" :class="formParams.type===item.value ? 'options active':'options'"
          @click="choose('type',item.value)"
        >
          {{ item.label }}
        </button>
      </div>
      <div v-if="show && current==3" class="hidden flex animated fadeInDown">
        <button
          v-for="(item,index) in options3" :key="index" :class="formParams.experiences===item.value ? 'options active':'options'"
          @click="choose('experiences',item.value)"
        >
          {{ item.label }}
        </button>
      </div>
      <div v-if="show && current==4" class="hidden flex animated fadeInDown">
        <button
          v-for="(item,index) in options4" :key="index" :class="formParams.education===item.value ? 'options active':'options'"
          @click="choose('education',item.value)"
        >
          {{ item.label }}
        </button>
      </div>
    </div>

    <!-- *************pc************* -->
    <div v-else class="searchBox">
      <div class="cm_container flex_y">
        <div class="flex" style="width: 100%;justify-content: space-between;">
          <el-select
            v-model="formParams.recruitType"
            class="m-2"
            clearable
            size="large"
            placeholder="招聘类型"
            @change="refresh"
          >
            <el-option
              v-for="item in options2"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              style="width: 280px"
            />
          </el-select>
          <el-select
            v-model="formParams.type"
            class="m-2"
            clearable
            size="large"
            placeholder="职位类型"
            @change="refresh"
          >
            <el-option
              v-for="item in options1"
              :key="item.value"
              clearable
              :label="item.label"
              :value="item.value"
              style="width: 280px"
            />
          </el-select>
          <el-select
            v-model="formParams.experiences"
            class="m-2"
            clearable
            size="large"
            placeholder="工作经验"
            @change="refresh"
          >
            <el-option
              v-for="item in options3"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              style="width: 280px"
            />
          </el-select>
          <el-select
            v-model="formParams.education"
            class="m-2"
            size="large"
            placeholder="学历要求"
            @change="refresh"
          >
            <el-option
              v-for="item in options4"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              style="width: 280px"
            />
          </el-select>
        </div>
      </div>
    </div>

    <div class="cm_container">
      <div class="listBox">
        <el-row style="width: 100%" :gutter="ifMobile ? 0 : 26">
          <el-col
            v-for="(item, index) in dataList"
            :key="item.id"
            :span="12"
            :xs="24"
          >
            <div
              class="hvr-round-corners newItems animated fadeInRight"
              :style="{ 'animation-delay': index * 0.2 + 's' }"
            >
              <div class="flex">
                <div class="itemContent f1">
                  <h4 class="itemTitle hvr-forward">
                    {{ item.title }}
                  </h4>
                  <p class="itemDes hvr-forward">
                    {{ item.area }} <span class="diver">|</span>   {{ item.experiences }}
                    <span class="diver">|</span>   {{ item.salary_range }}
                  </p>
                </div>
                <div v-if="ifMobile" class="m_btns" @click="nav(item.id)">
                  了解详情
                </div>
                <div v-else class="btns btn-10" @click="nav(item.id)">
                  了解详情
                </div>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
      <el-empty v-if="dataList.length==0" description="暂无数据" />
      <div class="pagination flex">
        <div v-if="!ifMobile" class="f1" />
        <el-pagination
          background
          :total="total"
          :current-page="formParams.pageIndex"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="formParams.pageSize"
          layout=" sizes, prev, pager, next"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
  </div>
</template>
<script>
import {jobs} from '@/api/app';
export default {
  name: 'JoinPage',
  props: {
    scrollTop: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      show: false,
      options1: [],
      options2: [],
      options3: [],
      options4: [],
      ifMobile: this.$ifMobile,
      dataList: [],
      active: 1,
      current: 1,
      total: 0,
      formParams: {
        pageSize: 10,
        pageNo: 1,
        type: '', // 职业类型
        recruitType: '', // 招聘类型
        experiences: '', // 工作经验
        education: '' // 学历要求
      }
    };
  },
  computed: {
    currentOptions() {
      const k = this.current;
      return this[`options${k}`];
    }
  },
  watch: {},
  created() {
    this.$bus.$emit('loadPageOver', true);
  },
  mounted() {
    let options = localStorage.getItem('localOptions');
    if (options) {
      options = JSON.parse(options);
      this.options1 = options.jobType;
      this.options2 = options.recruitType;
      this.options3 = options.experience;
      this.options4 = options.educationRequire;
    }
    this.getList();
  },
  activated() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  },
  methods: {
    choose(pro, val) {
      if (this.formParams[pro] === val) {
        this.formParams[pro] = '';
      } else {
        this.formParams[pro] = val;
      }

      this.getList();
      this.show = false;
    },
    toggle(key) {
      if (key === this.current) {
        this.show = !this.show;
      } else {
        this.current = key;
        this.show = true;
      }
    },
    // 筛选项切换立即搜索
    refresh() {
      this.formParams.pageNo = 1;
      this.getList();
    },
    nav(id) {
      this.$router.push(`/joinDetail/${id}`);
    },
    async getList() {
      try {
        const res = await jobs(this.formParams);
        this.dataList = res.list;
        this.total = res.total;
        this.$bus.$emit('loadPageOver', false);
      } catch (error) {

      }
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });

    },
    handleSizeChange(val) {
      this.formParams.pageSize = val;

      this.getList();
    },
    handleCurrentChange(val) {
      // debugger;
      this.formParams.pageNo = val;


      this.getList();
    }
  }
};
</script>

<style lang="scss" scoped>
.pages {
  padding: 0 0 50px 0;
  background-color: rgba(247, 247, 247);
  background-image: url("../../../public/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  .searchBox {
    width: 100%;
    background-color: #fff;
    height: 150px;
    margin-bottom: 79px;
    .cm_container {
      height: 100%;
    }
  }

  .listBox {
    width: 100%;
    padding: 20px;
    // flex-wrap: wrap;
    // justify-content: space-between;
    .newItems {
      // padding: 42px 0;
      border-left: 4px solid var(--primary);
      align-items: center;
      width: 100%;
      background-color: #fff;
      margin-bottom: 54px;
      padding: 40px;
      cursor: pointer;
      .itemContent {
        cursor: pointer;
        .itemTitle {
          font-size: 22px;
          font-weight: 600;
          color: #333333;
          line-height: 2;
          margin-bottom: 32px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2; //保留多少行
          overflow: hidden;
          text-align: left;
        }
        .itemDes {
          font-size: 18px;
          font-weight: 400;
          color: #999999;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3; //保留多少行
          overflow: hidden;
          line-height: 2;
          text-align: left;
        }
      }
      .btns {
        cursor: pointer;
        width: 100px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        font-weight: 500;
        border: 1px solid #0070ff;
        color: #0070ff;
         transition: all .4s ease-out;
        position: relative;
        overflow: hidden;
        &::after{
          content: '';
          width: 100%;
          height: 100px;
          position: absolute;
          left: 0;
          top: 0;
          transform: translateX(-100%);
          background:#0070ff ;
          transition: all .4s ease-out;
          z-index: -1;
        }
        &:hover{
          color: #fff;
          &::after{
            transform: translateX(0);
          }
        }
      }
    }
  }
}

.m_page {
  // padding: 27px;

  .searchBox {
    height: 100px;
    margin-bottom: 0;
    position: relative;
    .hidden {
      position: absolute;
      left: 0;
      top: 100px;
      width: 100%;
      z-index: 100;
      background: #fff;
      padding: 20px;
      flex-wrap: wrap;
      justify-content: flex-start;
      box-shadow: 0px 3px 11px 0px rgba(92, 92, 92, 0.11);
      .options {
        flex: 0 0 30%;
        height: 55px;
        line-height: 53px;
        margin: 8px;
        border: 1px solid #d9d9d9;
        background: #fff;
        color: #b3b3b3;
        font-size: 20px;
      }
      .active {
        border: 1px solid #0070ff;
        background: #e8efff;
        text-align: center;
        color: #0070ff;
      }
    }
  }
  .cm_container {
    font-size: 28px;
    position: relative;
    .newItems {
    margin-bottom: 27px !important;
    padding: 27px;
    .itemTitle {
      font-size: 30px!important;
      font-weight: 600;
      color: #333333;
    }
    .itemDes {
      font-size: 27px!important;
      font-weight: 500;
      color: #b3b3b3;
    }
    .m_btns {
      width: 147px;
      height: 54px;
      line-height: 52px;
      background: #ffffff;
      border: 1px solid #0070ff;
      font-size: 27px;
      font-weight: 500;
      color: #0070ff;
      text-align: center;

    }
  }
    // z-index: 50;
  }
  .pagination {
    margin-top: 32px;
    margin-bottom: 12px;
  }
}
</style>
