<!--
 * @Author       : xh
 * @Date         : 2022-05-10 10:55:13
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-17 16:23:01
 * @FilePath     : \company\src\views\business\index.vue
-->
<template>
  <div id="business" :class="ifMobile ? 'pages m_page' : 'pages'">
    <div class="cm_container">
      <header class="tabsBar flex animated fadeInDown">
        <div
          v-for="(item) in tabs" :key="item.id" class="tabs ellipsis "
          :class="type==item.id?'active':'hvr-wobble-vertical'"
          @click="_switch(item.id)"
        >
          {{ item.title }}
        </div>
      </header>
      <div v-if="!ifMobile" class="divider animated fadeIn">
        <div class="block" />
      </div>
      <div class="content animated fadeInUp">
        <el-carousel
          ref="carouselbusiness"
          :autoplay="true"
          indicator-position="none"
          :height="ifMobile ? '280px' : '460px'"
          arrow="never"
          @change="change"
        >
          <el-carousel-item v-for="(it2,ind2) in dataList" :key="ind2">
            <div class="bannersBox flex">
              <div
                v-for="(item) in it2" :key="item.id" class="bars flex_y "
                @click="nav(item.link) "
              >
                <div class="preview">
                  <el-image
                    style="width: 100%; height: 100%;"
                    :src="item.image"
                    fit="cover"
                  >
                    <div slot="placeholder" class="image-slot">
                      加载中<span class="dot">...</span>
                    </div>
                  </el-image>
                </div>

                <h4 class="title hvr-float-shadow ellipsis">
                  {{ item.title }}
                </h4>
                <p class="des ellipsis">
                  {{ item.brief }}
                </p>
              </div>
            </div>
          </el-carousel-item>
        </el-carousel>


        <div v-if="!ifMobile" class="arrows prop flex_y hvr-backward" @click="prev">
          <img src="@/assets/l.png" alt="">
        </div>
        <div v-if="!ifMobile" class="arrows next flex_y hvr-forward" @click="next">
          <img src="@/assets/r.png" alt="">
        </div>
      </div>
      <ul class="flex">
        <li v-for="(it,ind) in dataList" :key="ind" :class="active== ind?'dots activedots':'dots' " />
      </ul>
    </div>
  </div>
</template>
<script>
import {swiper} from '@/utils/swiper.js';
import {product} from '@/api/app';
export default {
  name: 'BusinessPage',
  props: {
    scrollTop: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      show: false,
      ifMobile: this.$ifMobile,
      tabs: [],
      list: {},
      active: 0,
      type: 4
    };
  },
  computed: {
    dataList() {
      console.log(0, this.list, this.type);
      let l = this.list[this.type];
      if (!l) {return [];}

      if (!this.$ifMobile) {
        let res = [];
        for (let i = 0;i < l.length;i += 3) {
          res.push([...l.slice(i, i + 3)]);
        }

        return res;
      } else {
        let res = [];
        for (let i = 0;i < l.length;i += 1) {
          res.push([l[i]]);
        }
        // console.log(666, res);
        return res;
      }

    }
  },
  watch: {
    $route(to, from) {
      // console.log(from);// 从哪来
      // console.log(to);// 到哪去
      const {query, name } = to;
      if (name === 'Business' && query.type && query.type != this.type) {
        // debugger;
        this.type = parseInt(query.type) ;
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
      }
    }
  },
  created() {
    this.$bus.$emit('loadPageOver', true);
  },
  mounted() {

    const {type = 4} = this.$route.query;
    this.type = type;
    this.init();

    if (this.ifMobile) {
      let that = this;
      this.$nextTick(() => {
        const box = that.$refs.carouselbusiness;
        if (box) {swiper('#business .el-carousel__container', box);}
      });
    }
  },
  activated() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  },
  methods: {
    nav(url) {
      if (url) {
        window.location.href = url;
      }
    },
    _switch(k) {
      this.type = k;
    },
    init() {
      let set = localStorage.getItem('productBlock');
      if (set) {
        set = JSON.parse(set);
        console.log(set);
        this.tabs = set;
        this.type = set[0].id;
        this.getList();
      }

    },
    async getList() {
      try {
        const res = await product();
        this.list = res.list;
        // this.total = res.total;
        this.$bus.$emit('loadPageOver', false);
      } catch (error) {

      }
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    },
    next() {
      this.$refs.carouselbusiness.next();
    },
    prev() {
      this.$refs.carouselbusiness.prev();
    },
    change(k) {
      this.active = k;
    }
  }
};
</script>

<style lang="scss" scoped>
.pages {
  background-color: rgba(244, 249, 255, 1);
  padding: 112px 0;

  .tabsBar {
    // justify-content: space-around;
    justify-content: center;
    .tabs {
      width: 200px;
      padding: 0 10px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: #333333;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      margin: 0 30px;

    }
    .active {
      background: var(--primary);
      color: #fff;
      box-shadow: 0 4px 10px #81a2ef;
    }
  }

  .divider {
    width: 80%;
    height: 18px;
    border-bottom: 2px solid rgba(230, 230, 230, 1);
    position: relative;
    margin: 26px auto 96px auto;
    .block {
      position: absolute;
      left: 50%;
      bottom: -10px;
      width: 18px;
      height: 18px;
      margin-left: -9px;
      border: 2px solid #e6e6e6;
      background-color: rgba(244, 249, 255, 1);
    }
  }

  .content {
    width: 100%;
    position: relative;
    .arrows {
      position: absolute;
      z-index: 1;
      cursor: pointer;
      align-items: center;
      text-align: center;
      img {
        margin-top: 120px;
      }
    }
    .prop {
      left: -50px;
      top: 0;
      width: 50px;
      height: 100%;
    }
    .next {
      top: 0;
      right: -50px;
      width: 50px;
      height: 100%;
    }
    .bannersBox {
      width: 100%;
      justify-content: center;
      color: rgba(51, 51, 51, 1);
      .bars {
        // flex: 1;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.3%;
        cursor: pointer;
        transition: all .4s ease-in-out;
        border-radius: 14px  0 14px 0;
        .preview {
          width: 370px;
          height: 282px;
          box-shadow: 0px 7px 11px 0px rgba(92, 92, 92, 0.17);
          transition: all ease 0.4s;
          background: #fff;
        }
        .title {
          width: 100%;
          text-align: center;
          font-size: 20px;
          font-weight: 600;
          color: #333333;
          margin-top: 48px;
          margin-bottom: 22px;

        }
        .des {
           width: 100%;
          text-align: center;
          font-size: 18px;
          font-weight: 600;
          color: #636363;
        }
        &:hover{
          //  background-image: linear-gradient(to top,rgba(0, 112, 255, 1), rgba(0, 112, 255, .4));
          color: #fff;
          .preview {
            border-radius: 14px  0 14px 0;
            overflow: hidden;
            filter: brightness(1.2);
             box-shadow: 0px 17px 14px 0px rgba(92, 92, 92, 0.514);
          }

        }

      }
    }
  }

  .dots {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(230, 230, 230, 1);
    margin: 0 8px;
    cursor: pointer;
  }
  .activedots {
    background: var(--primary);
  }
}

.m_page {
  padding: 27px;
  height: auto;

  .cm_container {
    // margin: 26px;
    background-color: #fff;
    padding-top: 53px;
      padding-bottom:55px ;
    .tabsBar {
      margin-bottom: 45px;
      .tabs{
        font-size: 24px;
      }
    }
    .content {
      padding: 27px;
      .bannersBox {
        width: 100%;

        .bars {
          width: 100%;
        }
        .preview {
          width: 100%;
          height: 369px;
        }
         .title {
            font-size: 24px!important;
              margin-top: 50px;
          }
          .des {
             font-size: 20px!important;
          }
      }
    }
  }
}
</style>
