<!--
 * @Author       : xh
 * @Date         : 2022-05-09 10:20:07
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-17 16:59:59
 * @FilePath     : \company\src\components\Header\index.vue
-->

<template>
  <div class="fixed animated " :class="headerShow?'fadeInDown':'fadeOutUp'">
    <div class="cm_container">
      <!-- {{activeMenus}} -->
      <!-- pc -->
      <div v-if="!ifMobile" class="flex header">
        <router-link to="/">
          <img :src="logo" class="logo" alt="logo">
        </router-link>

        <article class="flex menusBox">
          <!-- {{ activeMenus }} -->
          <div
            class="menus"
            :class="activeMenus === 'Home' ? 'active' : 'hvr-pop'"
            @click="nav('')"
          >
            <span>关于游龙</span>
          </div>

          <div
            class="menus"
            :class="activeMenus === 'Business' ? 'active' : 'hvr-pop'"
            @click="nav('Business')"
          >
            <span>业务范畴</span>
          </div>

          <div
            class="menus"
            :class="
              activeMenus === 'News' || activeMenus === 'NewsDetail'
                ? 'active'
                : 'hvr-pop'
            "
            @click="nav('News')"
          >
            <span>游龙新闻</span>
          </div>
          <div
            class="menus"
            :class="activeMenus === 'Contact' ? 'active' : 'hvr-pop'"
            @click="nav('Contact')"
          >
            <span>联系我们</span>
          </div>
          <div
            class="menus"
            :class="
              activeMenus === 'Join' || activeMenus === 'JoinDetail'
                ? 'active'
                : 'hvr-pop'
            "
            @click="nav('Join')"
          >
            <span>加入我们</span>
          </div>
        </article>
      </div>
      <!-- mobile -->
      <div v-if="ifMobile" class="flex m_header">
        <router-link to="/">
          <img :src="logo" class="logo" alt="logo">
        </router-link>
        <div class="f1" />
        <div class="action flex_y">
          <img
            src="@/assets/m.png" class="m" alt=""
            @click="toggle"
          >
          <article
            class="menusBox animated"
            :class="show ? 'fadeInRight' : 'fadeOutRight'"
          >
            <div
              class="menus"
              :class="activeMenus === 'Home' ? 'active' : 'hvr-pop'"
              @click="nav('')"
            >
              <span>关于游龙</span>
            </div>

            <div
              class="menus"
              :class="activeMenus === 'Business' ? 'active' : 'hvr-pop'"
              @click="nav('Business')"
            >
              <span>业务范畴</span>
            </div>

            <div
              class="menus"
              :class="
                activeMenus === 'News' || activeMenus === 'NewsDetail'
                  ? 'active'
                  : 'hvr-pop'
              "
              @click="nav('News')"
            >
              <span>游龙新闻</span>
            </div>
            <div
              class="menus"
              :class="activeMenus === 'Contact' ? 'active' : 'hvr-pop'"
              @click="nav('Contact')"
            >
              <span>联系我们</span>
            </div>
            <div
              class="menus"
              :class="
                activeMenus === 'Join' || activeMenus === 'JoinDetail'
                  ? 'active'
                  : 'hvr-pop'
              "
              @click="nav('Join')"
            >
              <span>加入我们</span>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderCom',
  props: {
    logo: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      show: false,
      headerShow: true,
      // activeMenus:'Home',
      ifMobile: this.$ifMobile
    };
  },
  computed: {
    activeMenus: function () {
      return this.$route.name;
    }
  },
  watch: {},
  created() {
    let that = this;
    this.$bus.$on('headerShow', (b) => {
      // debugger
      that.headerShow = b;
    });
  },
  methods: {
    toggle() {
      this.show = !this.show;
    },
    nav(k) {
      // console.log(this.activeMenus, k);
      if (!k) {
        this.$router.push('/');
        this.show = false;
      } else if (this.activeMenus != k) {
        const u = k.toLowerCase();
        this.show = false;
        this.$router.push(`/${u}`);
      }
    }
  }
};
</script>


<style scoped lang="scss">
.fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 500;
  .header {
    justify-content: space-between;
    width: 100%;
    height: 92px;
    .logo {
      width: 183px;
      // height: 57px;
    }
    .menusBox {
      width: 100%;
      height: 100%;
      justify-content: flex-end;
      .menus {
        width: 118px;
        text-align: center;
        height: 100%;
        line-height: 92px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        // transition:all .2s ease ;
        // &:hover{
        //   transform: translateY(-2px);
        // }
        position: relative;
      }
      .active {
        color: var(--primary);
        &:after {
          content: "";
          height: 4px;
          background: var(--primary);
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }
}
// **********************m********************
.m_header {
  width: 100%;
  height: 88px;
  padding-left: 27px;
  .logo {
    width: 181px;
  }
  .action {
    width: 88px;
    height: 88px;
    position: relative;
    .m {
      width: 43px;
      height: 32px;
    }

    .menusBox {
      width: 200px;
      padding: 0 39px;
      position: absolute;
      right: 0;
      top: 88px;
      background-color: #fff;
      .menus {
        height: 85px;
        line-height: 85px;
        border-bottom: 1px solid #ededed;
        font-size: 28px;
        &:last-child {
          border-bottom: none;
        }
      }
      .active {
        color: var(--primary);
        font-weight: 600;
      }
    }
  }
}

.hvr-pop:before {
  background: var(--primary);
}
</style>
