<!--
 * @Author       : xh
 * @Date         : 2022-05-10 10:56:29
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-17 16:08:56
 * @FilePath     : \company\src\views\contact\index.vue
-->
<template>
  <div :class="ifMobile ? 'pages m_page' : 'pages'">
    <div class="cm_container">
      <div
        class="block flex animated fadeInRight"
      >
        <div v-if="ifMobile" class="m_title">
          {{ detail.title }}
        </div>
        <div v-else class="title">
          {{ detail.title }}
        </div>
        <div v-if="ifMobile">
          <div class="m_cells">
            <p v-html="detail.content" />
          </div>
        </div>
        <div v-else>
          <div class="cells">
            <p v-html="detail.content" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {contact} from '@/api/app';
export default {
  name: 'ContactPage',
  props: {
    scrollTop: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      show: false,

      ifMobile: this.$ifMobile,
      detail: {},
      active: 1
    };
  },
  computed: {
  },
  watch: {},
  created() {
    this.$bus.$emit('loadPageOver', true);
  },
  mounted() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
    this.getList();
  },
  activated() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  },
  methods: {
    async getList() {

      try {
        const res = await contact();
        this.detail = res;
        this.$bus.$emit('loadPageOver', false);
      } catch (error) {

      }
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });

    }
  }
};
</script>


<style lang="scss" scoped>
.pages {
  padding: 88px 0;
  background-image: url('../../../public/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  .cm_container {
    padding: 45px 56px;
    background: #fff;
    box-shadow: 0px 2px 14px 0px rgba(1, 9, 72, 0.08);
    font-size: 20px;
    .block {
      margin-bottom: 50px;
      text-align: left;
      .title {
        font-size: 22px;
        font-weight: 600;
        color: #333333;
        text-indent: 20px;
        position: relative;
        line-height: 1;
        margin-bottom: 50px;
        &::before {
          content: '';
          width: 4px;
          height: 21px;
          background-color: var(--primary);
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .cells {
        font-size: 18px;
        font-weight: 500;
        color: #333333;
        line-height: 48px;
        text-indent: 20px;
      }
    }
  }
}

.m_page {
  padding: 27px;
  .cm_container {
    // margin: 26px;
    background-color: #fff;
    padding-top: 53px;
    .m_title {
      font-size: 30px;
      font-weight: 600;
      color: #333333;
      line-height: 2;
    }
    .m_cells {
      line-height: 2 ;
      font-size: 27px;
      font-weight: 500;
      color: #333333;
    }
  }
}
</style>
