<!--
 * @Author       : xh
 * @Date         : 2022-05-10 10:56:06
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-19 19:28:54
 * @FilePath     : \company\src\views\news\index.vue
-->
<template>
  <div :class="ifMobile ? 'pages m_page' : 'pages'">
    <div class="cm_container">
      <div v-if="!ifMobile" class="lines" />
      <ul>
        <li
          v-for="(item, index) in dataList"
          :key="index"
          class="newItems flex animated fadeInRight"
          :style="{ 'animation-delay': index * 0.2 + 's' }"
        >
          <div class="preview hvr-bubble-float-right">
            <el-image
              :style="{
                width: ifMobile ? '127px' : '391px',
                height: ifMobile ? '78px' : '225px',
              }"
              :src="item.image"
              :preview-src-list="preList"
              fit="cover"
            />
          </div>
          <div v-if="!ifMobile" class="timeBox flex_y">
            <h4>
              {{ item.released_at | filterDate }}
            </h4>
            <p>{{ item.released_at | filterYear }}</p>
          </div>
          <div class="itemContent f1" @click="nav(item.id)">
            <h4 class="itemTitle hvr-forward" :style="{'color':item.title_color==1?'red':'#333'}">
              {{ item.title }}
            </h4>
            <p v-if="!ifMobile" class="itemDes hvr-forward" @click="nav(item.id)">
              {{ item.brief }}
            </p>
          </div>
        </li>
      </ul>
      <div class="pagination flex">
        <div v-if="!ifMobile" class="f1" />
        <el-pagination
          background
          :total="total"
          :current-page="formParams.pageIndex"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="formParams.pageSize"
          layout=" sizes, prev, pager, next"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
  </div>
</template>
<script>
import {news} from '@/api/app';
export default {
  name: 'NewPage',
  filters: {
    filterDate(v) {
      if (v) {
        const arr = v.split('-');
        return arr[2];
      } else {
        return '';
      }

    },
    filterYear(v) {
      if (v) {
        const arr = v.split('-');
        return `${arr[0]}-${arr[1]}`;
      } else {
        return '';
      }
    }
  },
  props: {
    scrollTop: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      show: false,

      ifMobile: this.$ifMobile,
      active: 1,
      formParams: {
        pageSize: 10,
        pageNo: 1
      },
      total: 0,
      dataList: []
    };
  },
  computed: {
    preList() {
      return this.dataList.map((it) => it.image);
    }
  },
  watch: {},
  created() {
    this.$bus.$emit('loadPageOver', true);
  },
  mounted() {

    this.getList();
  },
  activated() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  },
  methods: {
    nav(id) {
      this.$router.push(`/newsDetail/${id}`);
    },
    async getList() {

      try {
        const res = await news(this.formParams);
        this.dataList = res.list;
        this.total = res.total;
        this.$bus.$emit('loadPageOver', false);
      } catch (error) {

      }
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });

    },
    handleSizeChange(val) {
      this.formParams.pageSize = val;

      this.getList();
    },
    handleCurrentChange(val) {
      // debugger;
      this.formParams.pageNo = val;


      this.getList();
    }
  }
};
</script>

<style lang="scss" scoped>
.pages {
  padding: 111px 0 50px 0;
  background-color: #fff;

  .newItems {
    padding: 42px 0;
    border-bottom: 1px solid #e6e6e6;
    align-items: flex-start;
    .lines {
      width: 100%;
      height: 1px;
      border: 1px solid #e6e6e6;
    }
    .timeBox {
      width: 73px;
      height: 73px;
      border: 1px solid #eee;
      color: var(--primary);
      margin-left: 67px;
      margin-right: 24px;
      cursor: pointer;
      h4 {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #0070ff;
        margin-bottom: 4px;
      }
      p {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #0070ff;
      }
    }

    .itemContent {
      cursor: pointer;
      .itemTitle {
        font-size: 22px;
        font-weight: 600;
        color: #333333;
        line-height: 2;
        margin-bottom: 52px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; //保留多少行
        overflow: hidden;
      }
      .itemDes {
        font-size: 18px;
        font-weight: 400;
        color: #999999;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; //保留多少行
        overflow: hidden;
        line-height: 2;
      }
    }
  }

  .pagination {
    text-align: right;
    margin-top: 137px;
  }
}

.m_page {
  padding: 26px;
  padding-top: 0;
  background-color: #fff;
  .cm_container {
    padding: 0;
    .newItems {
      font-size: 28px;
      .itemTitle{
        font-size: 30px;
      }
      .preview {
        margin-right: 26px;
      }
    }
  }
  .pagination {
    // transform: scale(1);
    margin-top: 32px;
    margin-bottom: 12px;
  }
}
</style>
