<!--
 * @Author       : xh
 * @Date         : 2022-05-09 10:20:09
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-19 19:20:49
 * @FilePath     : \company\src\components\Footer\index.vue
-->

<template>
  <div :class="ifMobile ? 'footer mobile' : 'footer'">
    <!-- m -->
    <div v-if="ifMobile" class="cm_container">
      <div class="content">
        <div class="flex m_top">
          <router-link to="/" class="lines">
            <div>
              <h4>关于游龙</h4>
            </div>
          </router-link>
          <router-link to="/business" class="lines">
            <div>
              <h4>业务范畴</h4>
            </div>
          </router-link>
          <router-link to="/news" class="lines">
            <div>
              <h4>游龙新闻</h4>
            </div>
          </router-link>
          <router-link to="/contact" class="lines">
            <div>
              <h4>联系我们</h4>
            </div>
          </router-link>

          <router-link to="/join" class="lines">
            <div>
              <h4>加入我们</h4>
            </div>
          </router-link>
        </div>
        <div class="divider" />
        <div class="bottom flex">
          <img :src="wxQrCode" class="ewm" alt="ewm">
          <div class="f1">
            <p v-if="bottomInfo.icpCode" class="flex fstart">
              备案/许可证号:
              <a :href="bottomInfo.icpLink" target="_blank">
                {{ bottomInfo.icpCode }}  </a>
            </p>
            <p v-if="bottomInfo.PSIcpLink" class="flex fstart">
              <img src="@/assets/ba.png" class="baIcons" alt="">
              <a class="ba" :href="bottomInfo.PSIcpLink" target="_blank">  {{ bottomInfo.PSIcpCode }} </a>
            </p>
            <p v-if="bottomInfo.spLink">
              增值电信经营许可证:<a :href="bottomInfo.spLink" target="_blank">  {{ bottomInfo.spCode }}  </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- pc -->
    <div v-else class="cm_container">
      <div class="content">
        <div class="flex top">
          <article class="flex f1 top_l">
            <div class="lines">
              <h4>关于游龙</h4>
              <p>
                <router-link to="/?ancher=panel1" class="hvr-forward">
                  企业文化
                </router-link>
              </p>
              <p>
                <router-link to="/?ancher=panel2" class="hvr-forward">
                  公司简介
                </router-link>
              </p>
              <p>
                <router-link to="/?ancher=panel3" class="hvr-forward">
                  发展历程
                </router-link>
              </p>
              <p>
                <router-link to="/?ancher=panel4" class="hvr-forward">
                  企业发展
                </router-link>
              </p>
            </div>
            <div v-if="footData" class="lines">
              <h4>业务范畴</h4>
              <p v-for="(item) in footData" :key="item.id">
                <router-link :to="`/business?type=${item.id}`" class="hvr-forward">
                  {{ item.title }}
                </router-link>
              </p>
              <!-- <p>
                <router-link to="/business?type=1" class="hvr-forward">
                  电子商务
                </router-link>
              </p>
              <p>
                <router-link to="/business?type=2" class="hvr-forward">
                  私域SASS
                </router-link>
              </p> -->
            </div>
            <div class="lines">
              <h4>游龙新闻</h4>
              <p>
                <router-link to="/news" class="hvr-forward">
                  公司动态
                </router-link>
              </p>
            </div>
            <div class="lines">
              <h4>联系我们</h4>
              <p>
                <router-link to="/contact" class="hvr-forward">
                  福州总部
                </router-link>
              </p>
              <p>
                <router-link to="/contact" class="hvr-forward">
                  成都分布
                </router-link>
              </p>
              <p>
                <router-link to="/contact" class="hvr-forward">
                  商务合作
                </router-link>
              </p>
            </div>

            <div class="lines">
              <h4>加入我们</h4>
              <p>
                <router-link to="/join" class="hvr-forward">
                  招聘信息
                </router-link>
              </p>
            </div>
          </article>
          <aside class="flex top_r">
            <img :src="wxQrCode" class="ewm" alt="ewm">
            <img :src="logo" class="logo" alt="logo2">
          </aside>
        </div>
        <div class="bottom flex">
          <span v-if="bottomInfo.icpCode"> 备案/许可证号:</span>
          <a
            v-if="bottomInfo.icpCode" class="bab" :href="bottomInfo.icpLink"
            target="_blank"
          > {{ bottomInfo.icpCode }}
          </a>
          <img
            v-if="bottomInfo.PSIcpLink" src="@/assets/ba.png" class="baIcons"
            alt=""
          >
          <a
            v-if="bottomInfo.PSIcpLink" class="bab" :href="bottomInfo.PSIcpLink"
            target="_blank"
          >
            {{ bottomInfo.PSIcpCode }} </a>
          <!-- <span class="ba">闽ICP备13003476号-22 闽公网安备 35010402351182号</span> -->
          <span v-if="bottomInfo.spLink">  增值电信经营许可证：</span>
          <a
            v-if="bottomInfo.spLink" class="bab" :href="bottomInfo.spLink"
            target="_blank"
          >
            {{ bottomInfo.spCode }} </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FooterderCom',
  props: {
    wxQrCode: {
      type: String,
      default: '' // @/assets/wxQrCode.png
    },
    footData: {
      type: Array,
      default: () => ([])
    },
    bottomInfo: {
      type: Object,
      default: () => ({})
    },
    logo: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      show: false,
      activeMenus: 'Home',
      ifMobile: this.$ifMobile
    };
  },
  watch: {},
  methods: {
    toggle() {
      this.show = !this.show;
    },
    nav(k) {
      // console.log(this.activeMenus, k);
      if (!k) {
        this.$router.push('/');
      } else if (this.activeMenus != k) {
        const u = k.toLowerCase();

        this.$router.push(`/${u}`);
      }
    }
  }
};
</script>
<style scoped lang="scss">
.footer {
  width: 100%;

  background: #232a77;
  color: #fff;
  font-size: 15px;
  padding: 104px 0;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 303px;
    .top {
      flex: 1;
      width: 100%;
      align-items: flex-start;
      .top_l {
        justify-content: flex-start;
        align-items: flex-start;
        .lines {
          margin-right: 52px;
          text-align: left;
        }
      }
      h4 {
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
        margin-bottom: 20px;
      }
      p {
        font-size: 15px;
        line-height: 2.6;
        color: #ffffff;
      }
      .top_r {
        text-align: right;
        flex-direction: column;
        align-items: flex-end;
        .ewm {
          width: 140px;
          height: 140px;
        }
        .logo {
          width: 216px;
          height: 67px;
          margin-top: 37px;
        }
      }
    }
    .bottom {
      font-size: 18px;
      text-align: left;
      justify-content: flex-start;
      .ba {
        color: #709bff;
      }
      .bab {
        color: rgba(112, 155, 255, 1);
        margin-right: 10px;
      }
    }
  }
}

.footer.mobile {
  padding: 0 26px;
  padding-bottom: 68px;
  .content {
    // padding-top: 28px;
    .m_top {
      height: 84px !important;
      line-height: 84px !important;
      .lines {
        flex: 1;
        margin: 0;
        h4 {
          font-size: 24px;
          height: 84px !important;
          line-height: 84px !important;
        }
      }
    }
    .divider {
      width: 100%;
      height: 1px;
      background: rgba(255, 255, 255, 0.2);
      margin-bottom: 20px;
    }
    .bottom {
      font-size: 20px;
      .ewm {
        width: 135px;
        height: 135px;
        margin-right: 57px;
      }
      p {
        line-height: 2;
      }
      .ba {
        color: #fff;
      }
    }
  }
}
.baIcons {
  width: 18px;
  margin-right: 10px;
}
</style>
