<!--
 * @Author       : xh
 * @Date         : 2022-05-10 10:56:15
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-17 16:09:22
 * @FilePath     : \company\src\views\newsDetail\index.vue
-->
<template>
  <div :class="ifMobile ? 'pages m_page' : 'pages'">
    <div class="cm_container animated fadeInUp">
      <div v-if="!ifMobile" class="his flex">
        游龙新闻 / <span class="blue">新闻详情</span>
      </div>
      <div class="content">
        <div class="detailTitle" :style="{ color: detail.title_color == 1 ? 'red' : '#333' }">
          {{ detail.title }}
        </div>
        <div class="detailTime">
          {{ detail.released_at }}
        </div>

        <p v-html="detail.content" />
      </div>
    </div>
  </div>
</template>
<script>
import { newsDetail } from '@/api/app';
export default {
  name: 'NewDetailPage',
  props: {
    scrollTop: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      show: false,

      ifMobile: this.$ifMobile,
      detail: {},
      active: 1
    };
  },
  computed: {},
  watch: {},
  created() {
    this.$bus.$emit('loadPageOver', true);
  },
  mounted() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
    const { id } = this.$route.params;
    this.intData(id);
  },
  activated() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  },
  methods: {
    async intData(id) {
      try {
        const res = await newsDetail(id);
        this.detail = res;
        this.$bus.$emit('loadPageOver', false);
      } catch (error) {}
    }
  }
};
</script>

<style lang="scss" scoped>
.pages {
  padding: 75px 0;
  background-color: #fff;
  .his {
    justify-content: flex-start;
    margin-bottom: 72px;
    font-size: 20px;
    .blue {
      color: var(--primary);
      margin-left: 10px;
       font-size: 20px;
    }
  }
  .content {
    margin-bottom: 80px;
    font-size: 20px;
    line-height: 1.6;
  }
  .detailTitle {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 43px;
  }
  .detailTime {
    font-weight: 500;
    color: #999999;
    margin-bottom: 42px;
  }
}
.m_page {
  padding: 26px;
  background-color: rgba(247, 247, 247);
  .cm_container {
    padding: 26px;
    font-size: 20px;
    background: #fff;
  }
}
</style>
