<!--
 * @Author: loserjohn
 * @Date: 2022-04-01 10:18:02
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-17 16:08:26
 * @Description: ---
 * @FilePath     : \company\src\views\home\index.vue
-->
<template>
  <div class="pages">
    <div id="home">
      <!-- 锚点 -->
      <div id="top" :class="!headerShow ? 'fixedTop' : 'relative'">
        <div style="background-color: rgba(255, 255, 255, 0.7); width: 100%">
          <div class="cm_container" :class="ifMobile ? 'mobile' : ''">
            <div class="tabs flex">
              <div
                class="menus"
                :class="active ==='#panel1' ? 'active' : 'hvr-float'"
                @click="goAnchor('#panel1')"
              >
                企业文化
              </div>
              <div
                class="menus"
                :class="active==='#panel2'? 'active' : 'hvr-float'"
                @click="goAnchor('#panel2')"
              >
                公司简介
              </div>
              <div
                class="menus"
                :class="active==='#panel3'? 'active' : 'hvr-float'"
                @click="goAnchor('#panel3')"
              >
                发展历程
              </div>
              <div
                class="menus"
                :class="active==='#panel4' ? 'active' : 'hvr-float'"
                @click="goAnchor('#panel4')"
              >
                企业荣誉
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 企业文化 -->
      <div id="panel1">
        <Panel1
          :load-show="load"
          :background="background1"
          :panel-data="panelData1"
        />
      </div>

      <!-- 公司简介 -->
      <div id="panel2">
        <Panel2
          :scroll-top="scrollTop"
          :background="background2"
          :panel-data="panelData2"
          @ancherCb="ancherCb"
        />
      </div>
      <!-- 发展历程 -->
      <div id="panel3">
        <Panel3
          :scroll-top="scrollTop" :background="background3" :panel-data="panelData3"
          @ancherCb="ancherCb"
        />
      </div>
      <!-- 企业荣誉 -->
      <div id="panel4">
        <Panel4 :scroll-top="scrollTop" :panel-data="panelData4" @ancherCb="ancherCb" />
      </div>
    </div>
  </div>
</template>
<script>
import {about} from '@/api/app';
import Panel1 from './Panel1.vue';
import Panel2 from './Panel2.vue';
import Panel3 from './Panel3.vue';
import Panel4 from './Panel4.vue';

const loadImg = (url) =>
// console.log('loadImg');
  new Promise((rol, rej) => {

    let img = new Image();
    img.src = url;
    img.onload = function() {
      console.log('hasload');
      rol(url);
    };
    img.error = function() {
      console.log('hasload');
      rej(url);
    };

  })
    ;

export default {
  name: 'HomePage',
  components: { Panel1, Panel2, Panel3, Panel4 },

  data() {
    return {
      scrollTop: 0,
      panel1Style: {
        'background-image':
          'https://img1.baidu.com/it/u=2565606996,1214964482&fm=253&fmt=auto&app=138&f=JPEG?w=658&h=308'
      },
      active: '#panel1',
      list: [],
      headerShow: true,
      ifMobile: this.$ifMobile,
      load: false,
      // 企业文化
      background1: '',
      panelData1: {},
      // 公司简介
      background2: '',
      panelData2: {},
      // 发展历程
      background3: '',
      panelData3: {},
      // 企业荣誉
      panelData4: []
    };
  },

  computed: {
    route() {
      return this.$route;
    }
  },
  watch: {
    $route(to, from) {
      const {query, name } = to;
      if (name === 'Home' && query.ancher && query.ty != this.active) {
        // this.active = `#${query.ancher}`;
        this.goAnchor(`#${query.ancher}`);
      }
    }
  },
  created() {
    this.$bus.$emit('loadPageOver', true);
  },
  mounted() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
    let that = this;

    // 滚动事件监听
    window.addEventListener('scroll', () => {
      const top =
        window.pageYOffset ||
        document.documentElement.scrollTop ||
        document.body.scrollTop;
      this.scrollTop = top;
      if (top > 450) {
        that.$bus.$emit('headerShow', false);
        that.headerShow = false;
      } else {
        that.$bus.$emit('headerShow', true);
        that.headerShow = true;
        that.active = '#panel1';
      }
    });

    this.initData();
  },
  onUnmounted() {
    window.removeEventListener('scroll');
  },

  // 跳转锚点定位判断
  activated() {
    const {ancher = ''} = this.$route.query;
    if (ancher) {
      // debugger
      this.goAnchor(`#${ancher}`);
    }

  },
  methods: {
    async initData() {
      let that = this;
      try {
        const res = await about();
        this.loadImg = true;
        this.panelData1 = res.companyCulture;
        this.background1 = res.companyCultureBackground;


        this.panelData2 = res.companyProfile;
        this.background2 = res.companyProfileBackground;

        this.panelData3 = res.companyHistory;
        this.background3 = res.companyHistoryBackground;

        this.panelData4 = res.companyHonor;
        // debugger;
        // this.$bus.$emit('loadPageOver', false);
        const p1 = loadImg(res.companyCultureBackground);
        const p2 = loadImg(res.companyProfileBackground);
        const p3 = loadImg(res.companyHistoryBackground);
        let picList = [
          p1,
          p2,
          p3];
        // debugger;

        await Promise.all(picList);

        this.$bus.$emit('loadPageOver', false);

      } catch (error) {
        console.log(error);
      }
    },

    // 通过子组件的 是否隐藏 判断 主页的锚点
    ancherCb(id) {
      if (id) {this.active = id;}
    },


    // 主动锚点
    goAnchor(selector) {
      if (!document.querySelector(selector)) {return;}
      document
        .querySelector(selector)
        .scrollIntoView({
          behavior: 'smooth',
          block: 'center',
          inline: 'nearest'
        });
      this.active = selector;
    }
  }
};
</script>

<style lang="scss" scoped>
.pages {
  width: 100vw;
  overflow-x: hidden;
  background: #fff;

  .tabs {
    height: 70px;
    width: 100%;
    justify-content: space-between;

    .menus {
      width: 118px;
      height: 70px;
      line-height: 70px;
      position: relative;
      text-align: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 20px;
    }
    .active {
      color: var(--primary);
      z-index: 10;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background: var(--primary);
        bottom: 0;
        left: 0;
      }
    }
  }

  .mobile {
    .tabs {
      padding: 0 27px;
      background-color: #fff;
      height: 100px;
      z-index: 100;
      .menus {
        height: 100px;
        line-height: 100px;
        font-size: 28px;
      }
      .active {
        &::before {
          content: "";
          height: 8px;
        }
      }
    }
  }
  .relative {
    position: relative;
  }
  .fixedTop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
  }
}
</style>
