<!--
 * @Author: loserjohn
 * @Date: 2022-04-01 10:18:02
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-17 10:53:30
 * @Description: ---
 * @FilePath     : \company\src\views\home\Panel1.vue
-->
<template>
  <!-- 企业文化 -->
  <div
    :style="panelStyle"
    :class="ifMobile ? 'panel1 mobile' : 'panel1'"
  >
    <!-- {{ background }} -->
    <div class="shine" />
    <div class="shine shine1" />
    <div class="shine shine2" />
    <div class="shine shine3" />
    <div class="shine shine4" />
    <!-- m -->
    <div v-if="ifMobile" class="cm_container">
      <div class="panel_top">
        corporate culture
        <h3 class="panel_title animated" :class="{ fadeInLeft: loadShow }">
          企业文化
        </h3>
      </div>

      <div class="panel_content animated fadeInRight" :class="{ fadeInRight: loadShow }">
        <div class="bars">
          <h4 class="animate pulse infinite">
            使命
          </h4>
          <p>{{ panelData.mission }}</p>
          <aside class="line" />
        </div>
        <div class="bars">
          <h4 class="animate pulse infinite">
            愿景
          </h4>
          <p>{{ panelData.vision }}</p>
          <aside class="line" />
        </div>
        <div class="bars">
          <h4 class="animate pulse infinite">
            价值观
          </h4>
          <p>{{ panelData.values }}</p>
          <aside class="line" />
        </div>
      </div>
    </div>
    <!-- pc -->
    <div v-else class="cm_container">
      <div class="panel_top">
        corporate culture
        <h3 class="panel_title animated" :class="{ fadeInLeft: loadShow }">
          企业文化
        </h3>
      </div>

      <div class="panel_content flex animated" :class="{ fadeInUp: loadShow }">
        <div class="bars">
          <h4 class="animate pulse infinite">
            使命
          </h4>
          <p>{{ panelData.mission }}</p>
          <aside class="line" />
        </div>
        <div class="bars">
          <h4 class="animate pulse infinite">
            愿景
          </h4>
          <p>{{ panelData.vision }}</p>
          <aside class="line" />
        </div>
        <div class="bars">
          <h4 class="animate pulse infinite">
            价值观
          </h4>
          <p>{{ panelData.values }}</p>
          <aside class="line" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Panel1Com',
  props: {
    loadShow: {
      type: Boolean,
      default: false
    },
    background: {
      type: String,
      default: '' // @/assets/wxQrCode.png
    },
    panelData: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      show: false,
      panelStyle: { },
      ifMobile: this.$ifMobile
    };
  },
  watch: {
    background(v, o) {
      if (v) {
        this.panelStyle = {
          'background-image': `url(${v})`
          // 'background-attachment': this.$ifMobile ? 'none' : 'fixed'
        };
      }
    }
  },
  mounted() {

  },
  methods: {
    toggle() {
      this.show = !this.show;
    },
    nav(k) {
      // console.log(this.activeMenus, k);
      if (!k) {
        this.$router.push('/');
      } else if (this.activeMenus != k) {
        const u = k.toLowerCase();

        this.$router.push(`/${u}`);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.panel1 {
  width: 100%;
  // height: 50vw;
  height: 970px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  // padding-top: 3vw;
  padding-top: 79px;
  overflow: hidden;
  position: relative;
  transition:all 1.3s ease;
  .shine {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.4);
    animation: move 2s 3s ease-in-out ;
    animation-iteration-count: infinite;
    transform: rotate(60deg);
    transform-origin: center;
  }
  .shine1 {
    left: 40%;
    height: 1px;
    animation: move1 1.6s 5s ease-in ;
    animation-iteration-count: infinite;
  }
  .shine2 {
    left: 43%;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.4);
    animation: move2 2.2s 2s ease-in ;
    animation-iteration-count: infinite;
  }
  .shine3 {
    left: 45%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.5);
    animation: move3 1.2s 3.1s ease-in ;
     animation-iteration-count: infinite;
  }
  .shine4 {
    left: 12%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.4);
    animation: move4 1.8s 3s ease-out ;
     animation-iteration-count: infinite;
  }
  .panel_top {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.03);
    // opacity: 0.03;
    font-size: 80px;
    text-align: center;
    position: relative;
    .panel_title {
      position: absolute;
      font-size: 52px;
      font-weight: 500;
      color: #ffffff;
      width: 100%;
      text-align: center;
      bottom: -10px;
      left: 0;
      z-index: 1;
    }
  }
  .panel_content {
    justify-content: space-around;
    // margin-top: 7vw;
    margin-top: 187px;
    width: 100%;
    .bars {
      height: 551px;
      width: 370px;
      background-image: linear-gradient(to bottom, rgba(0, 94, 218, 0.3), rgba(0, 112, 255, 0));

      cursor: pointer;
      position: relative;
      transition: all 0.3s ease-in-out;
      color: #fff;
      text-align: center;
      padding: 0 50px;
      .line {
        width: 6px;
        background: linear-gradient(to bottom, #0070ff, rgba(0, 112, 255, 0));
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.3s ease-in-out;
      }

      h4 {
        font-size: 30px;
        font-weight: 600;
        color: #ffffff;
        padding: 78px 0 51px 0;
      }
      p {
        font-size: 24px;
        font-weight: 500;
        color: #fff7fe;
        line-height: 2;
      }
      &:hover {
        transform: translateY(-72px);
        filter: brightness(1.4);
        .line {
          // background: linear-gradient(to bottom,   rgb(22, 193, 236),
          // rgba(0, 112, 255, 0 ));
          filter: brightness(2);
        }
      }
    }
  }
}
.panel1.mobile {
  height: auto;
      padding-top: 32px;
  .panel_content{
    margin-top: 31px;
  }
  .cm_container {
    padding: 28px;
    .bars {
      width: 100%;
      height: auto;
      min-height: 172px;
      padding: 43px 48px;
      margin-bottom: 52px;
      text-align: left;
      background-image: linear-gradient(to right, rgba(0, 94, 218, 0.3), rgba(0, 112, 255, 0));
      h4 {
        font-size: 30px;
        font-weight: 600;
        color: #ffffff;
        padding: 0 0 29px 0;
      }
      p {
        font-size: 24px;
        font-weight: 500;
        color: #fff7fe;
        line-height: 2;
      }
      &:hover {
        transform: none;
        filter: brightness(1.4);
      }
    }
  }
}

</style>
