<!--
 * @Author: loserjohn
 * @Date: 2022-04-01 10:18:02
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-17 11:05:13
 * @Description: ---
 * @FilePath     : \company\src\views\home\Panel2.vue
-->
<template>
  <!--  公司简介 -->
  <div
    ref=""
    class="panel animated fadeIn"
    :style="panelStyle"
    :class="ifMobile ? 'panel2 mobile' : 'panel2'"
  >
    <!-- {{scrollTop}} -->
    <!-- m -->
    <div v-if="ifMobile" class="cm_container">
      <div class="panel_top">
        COMPANY PROFILE
        <h3
          class="panel_title animated"
          :class="visible ? 'fadeInLeft' : 'fadeOutLeft'"
        >
          公司简介
        </h3>
      </div>

      <div class="panel_content">
        <div
          class="rightPic animated"
          :class="visible ? 'fadeInRight' : 'fadeOutRight'"
        >
          <el-image
            style="width: 100%; height: 100%"
            :src="panelData.image"
            :preview-src-list="[panelData.image]"
          />
        </div>
        <div
          class="left animated rich"
          :class="visible ? 'fadeInLeft' : 'fadeOutLeft'"
        >
          <p v-html="panelData.content" />
        </div>
      </div>
    </div>
    <!-- pc -->
    <div v-else class="cm_container">
      <div class="panel_top">
        COMPANY PROFILE
        <h3
          class="panel_title animated"
          :class="visible ? 'fadeInLeft' : 'fadeOutLeft'"
        >
          公司简介
        </h3>
      </div>

      <div class="panel_content flex">
        <div
          class="left animated "
          :class="visible ? 'fadeInLeft' : 'fadeOutLeft'"
        >
          <p v-html="panelData.content" />
        </div>
        <div
          class="rightPic animated"
          :class="visible ? 'fadeInRight' : 'fadeOutRight'"
        >
          <el-image
            style="width: 100%; height: 100%"
            :src="panelData.image"
            :preview-src-list="[panelData.image]"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Panel2Com',
  props: {
    scrollTop: {
      type: Number,
      default: 0
    },
    background: {
      type: String,
      default: '' // @/assets/wxQrCode.png
    },
    panelData: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      show: false,
      height: 0,
      panelStyle: { },
      ifMobile: this.$ifMobile,

      active: 1
    };
  },
  computed: {
    visible: function () {
      const offset = window.innerHeight * 2 / 3;
      // const offset = this.$ifMobile ? 600 : 360;
      const ifshow = !!(this.height && this.scrollTop > this.height - offset);
      if (ifshow) {this.$emit('ancherCb', '#panel2');}
      return ifshow;
    }
  },
  watch: {
    background(v, o) {
      if (v) {
        this.panelStyle = {
          'background-image': `url(${v})`
          // 'background-attachment': this.$ifMobile ? 'none' : 'fixed'
        };
      }
    }
  },
  mounted() {
    this.height = document.querySelector('#panel2').offsetTop;

  },
  methods: {
    toggle() {
      this.show = !this.show;
    },
    nav(k) {
      // console.log(this.activeMenus, k);
      if (!k) {
        this.$router.push('/');
      } else if (this.activeMenus != k) {
        const u = k.toLowerCase();

        this.$router.push(`/${u}`);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.panel2 {
  width: 100%;
  // height: 42vw;
  height: 814px;
  background-size:auto  100%;
  background-repeat: no-repeat;
  background-position: center;
  // padding-top: 3vw;
  padding-top: 72px;
  overflow: hidden;
  .panel_top {

    font-weight: 600;
    color: rgba(212, 230, 255, 0.4);
    // opacity: 0.03;
    font-size: 80px;
    text-align: center;
    position: relative;
    .panel_title {
      position: absolute;
      font-size: 52px;
      font-weight: 500;
      color: #333;
      width: 100%;
      text-align: center;
      bottom: -10px;
      left: 0;
      z-index: 1;
    }
  }
  .panel_content {
    justify-content: space-around;
    // margin-top: 7vw;
      margin-top: 163px;
    width: 100%;
    .left {
      flex:1;
      font-size: 20px;
      font-weight: 400;
      color: #333333;
      line-height: 2;
    }
    .rightPic {
      width: 496px;
      height: 278px;
      margin-left: 103px;
    }
  }
}

.panel2.mobile {
  height: auto;
  font-size: 20px;
  padding-top: 32px;

  .cm_container {
    padding: 28px;
    padding-bottom: 141px;
      font-size: 20px;
    .panel_content {
      margin-top: 31px;
      .rightPic {
        width: 100%;
        height: 369px;
        margin-bottom: 70px;
        margin-left: 0;
      }
      .left {
        font-size: 20px;
        font-weight: 500;
        color: #333333;
        text-align: left;
      }
    }
  }
  .rich{
    font-size: 24px!important;
  }
}
</style>
