<!--
 * @Author: loserjohn
 * @Date: 2022-04-01 10:18:02
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-17 16:32:57
 * @Description: ---
 * @FilePath     : \company\src\views\home\Panel4.vue
-->
<template>
  <!--  企业荣誉 -->
  <div id="panel4" :class="ifMobile ? 'mobile panel4' : 'panel4'">
    <div class="cm_container">
      <div class="panel_top">
        COMPANY PROFILE
        <h3 class="panel_title animated" :class="visible ? 'fadeInLeft' : 'fadeOutRight'">
          企业荣誉
        </h3>
      </div>

      <div class="panel_content animated" :class="visible ? 'fadeInUp' : 'fadeOutUp'">
        <div v-if="!ifMobile" class="mask mask_l flex_y" @click="prev">
          <div class="arrows hvr-pulse-grow">
            <img src="@/assets/l.png" alt="">
          </div>
        </div>
        <div v-if="!ifMobile" class="mask mask_r flex_y" @click="next">
          <div class="arrows hvr-pulse-grow">
            <img src="@/assets/r.png" alt="">
          </div>
        </div>
        <el-carousel
          ref="slideCarousel4" :interval="4000" type="card"
          indicator-position="none" :height="ifMobile?'180px':'353px'"
          arrow="never"
          @change="change"
        >
          <el-carousel-item v-for="(item,index) in list" :key="index">
            <div class="bannersBox">
              <!-- sdf -->
              <div class="banners">
                <el-image
                  style="width:470px; height: 354px"
                  fit="cover"
                  :src="item"
                  :preview-src-list="[...list]"
                />
              </div>
            </div>
          </el-carousel-item>
        </el-carousel>
        <div class="flex dotsBox">
          <span v-for="(item,index) in list" :key="index" :class="index==active?'dots activeDot':'dots'" />
          <span class="dots" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {swiper} from '@/utils/swiper.js';
export default {
  name: 'Panel4Com',
  props: {
    scrollTop: {
      type: Number,
      default: 0
    },
    panelData: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      show: false,
      height: 0,
      panelStyle: { },
      ifMobile: this.$ifMobile,

      active: 1

    };
  },
  computed: {
    visible: function() {
      // const offset = this.$ifMobile?500:360
      const offset = window.innerHeight * 2 / 3;
      const ifshow = !!(this.height && this.scrollTop > this.height - offset);
      if (ifshow) {this.$emit('ancherCb', '#panel4');}
      return ifshow;
    },
    list: function() {
      console.log(this.panelData.map((it) => it.image));
      return this.panelData.map((it) => it.image);
    }
  },
  watch: {},
  mounted() {
    this.height = document.querySelector('#panel4').offsetTop;
    if (this.ifMobile) {
      let that = this;
      this.$nextTick(() => {
        const box = that.$refs.slideCarousel4;
        if (box) {swiper('#panel4 .el-carousel__container', box);}
      });
    }
  },
  methods: {
    next() {
      this.$refs.slideCarousel4.next();
    },
    prev() {
      this.$refs.slideCarousel4.prev();
    },
    change(k) {
      // debugger;
      this.active = k;
    }
  }
};
</script>


<style lang="scss" scoped>
.panel4 {
  width: 100%;
  // height: 37vw;
  height: 715px;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  padding-top: 51px;
  overflow: hidden;
  background-color: rgba(231, 243, 255, 1);
  .panel_top {

    font-weight: 500;
    color: rgba(212, 230, 255, 0.4);
    // opacity: 0.03;
    font-size: 80px;
    text-align: center;
    position: relative;
    .panel_title {
      position: absolute;
      font-size: 52px;
      font-weight: 500;
      color: #333;
      width: 100%;
      text-align: center;
      bottom: -10px;
      left: 0;
      z-index: 1;
    }
  }
  .panel_content {
    justify-content: space-around;
    // margin-top: 6vw;
    margin-top: 99px;
    width: 100%;
    padding: 0 124px;
    position: relative;
    .mask {
      width: 30%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 4;
      .arrows {
        width: 40px;
        height: 40px;
        cursor: pointer;
        img {
          width: 20px;
          height: 36px;
        }
      }
    }
    .mask_l {
      left: 194px;
      background-image: linear-gradient(to right, rgba(231, 243, 255, 1), 70%, rgba(231, 243, 255, 0));
      align-items: flex-start;
      margin-left: -194px;
    }
    .mask_r {
      right: 194px;
      background-image: linear-gradient(to left, rgba(231, 243, 255, 1),70%,rgba(231, 243, 255, 0));
      align-items: flex-end;
      margin-right: -194px;
    }
    // background-color: red;
    .bannersBox {
      background: transparent !important;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      box-shadow: 0px 7px 11px 0px rgba(92, 92, 92, 0.17);
    }
    // .banners {
    //   width: 24vw;
    //   height: 18.5vw;
    //   background: #f1f1f1;
    // }
  }
}

.panel4.mobile {
  height: auto;
   padding-top: 32px;
  .panel_top{
    margin-left: 28px;
  }
  .cm_container {
    padding-top: 28px;

    .panel_content {
       margin-top: 31px;
      padding: 0;
      .bannersBox {
        background: transparent !important;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

      }
      .banners {
        width: 50vw;
        height: 342px;
        background: #f1f1f1;
      }
    }
    .dotsBox{
      .dots{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        margin: 40px 18px;
      }
      .activeDot{
        background: var(--primary);
      }
    }
  }
}
</style>
