<!--
 * @Author: loserjohn
 * @Date: 2022-04-01 10:18:02
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-18 17:04:08
 * @Description: ---
 * @FilePath     : \company\src\views\home\Panel3.vue
-->
<template>
  <!-- 发展历程 -->
  <div
    id="panel3" ref="" :style="panelStyle"
    :class="ifMobile ? 'panel3 mobile' : 'panel3'"
  >
    <!-- <div class="huans huan1">
      <span class="dots dot1" />
      <span class="dots dot2" />
      <span class="dots dot3" />
      <span class="dots dot4" />
    </div>
    <div class="huans huan2">
      <span class="dots dot1" />
      <span class="dots dot2" />
      <span class="dots dot3" />
      <span class="dots dot4" />
    </div> -->
    <div class="shine" />
    <div class="shine shine1" />
    <div class="shine shine2" />
    <div class="shine shine3" />
    <div class="shine shine4" />
    <!-- 有效部分 -->
    <div class="cm_container">
      <div class="panel_top">
        corporate culture
        <h3 class="panel_title animated" :class="visible ? 'fadeInRight' : 'fadeOutRight'">
          发展历程
        </h3>
      </div>

      <div class="panel_content animated" :class="visible ? 'fadeInUp' : 'fadeOutDown'">
        <div style="width: 100%">
          <el-carousel
            ref="carousel" :autoplay="false" indicator-position="none"
            :height="ifMobile ? '160px' : '220px'" arrow="never" :initial-index="current"
          >
            <el-carousel-item v-for="item in dataList" :key="item.name">
              <div class="bannersBox flex">
                <h3 class="year">
                  {{ item.id }}
                </h3>
                <ul v-infinite-scroll="load" class="bannerContent" style="overflow: auto">
                  <li v-for="(it, index) in item.sub" :key="index" class="cells">
                    {{ it.title }}
                  </li>
                </ul>
              </div>
            </el-carousel-item>
          </el-carousel>
        </div>
      </div>

      <!-- 底部scroll -->
      <div class="panel_footer animated" :class="visible ? 'fadeInUp' : 'fadeOutDown'" :style="footStyle">
        <ul class="px_scrollBar flex" :style="styleOptions">
          <li v-for="(item, index) in dataList" :key="index" class="px_timerXbox">
            <img
              v-show="current != index" src="@/assets/icon1.png" class="icons animated pulse infinite"
              alt="" @click="choose(index)"
            >
            <img
              v-show="current == index" src="@/assets/icon2.png" class="activeIcons animated pulse infinite"
              alt=""
            >
            <p class="labels" :class="current == index ? 'labelsActive' : ''">
              {{ item.name }}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import { swiper } from '@/utils/swiper.js';
export default {
  name: 'Panel3Com',
  props: {
    scrollTop: {
      type: Number,
      default: 0
    },
    background: {
      type: String,
      default: '' // @/assets/wxQrCode.png
    },
    panelData: {
      type: Object,
      default: () => null
    }
  },
  data() {
    return {
      show: false,
      height: 0,

      panelStyle: {},
      ifMobile: this.$ifMobile,
      footStyle: {},
      active: 1,
      lW: this.$ifMobile ? 78 : 156,
      current: 0,
      // dataList: [
      //   {
      //     name: 2013,
      //     id: 1
      //   },
      // ],
      styleOptions: {}
    };
  },
  computed: {
    visible: function () {
      // const offset = this.$ifMobile ? 500 : 360;
      const offset = (window.innerHeight * 2) / 3;
      const ifshow = !!(this.height && this.scrollTop > this.height - offset);
      if (ifshow) {
        this.$emit('ancherCb', '#panel3');
      }
      return ifshow;
    },
    currentData() {
      return this.dataList.length ? this.dataList[this.current] : {};
    },
    dataList() {
      if (!this.panelData) {
        return [];
      } else {
        let res = [];
        Object.keys(this.panelData).map((it) => {
          const item = this.panelData[it];
          res.push({
            name: it,
            id: it,
            sub: [...item]
          });
        });
        console.log(res);
        return res;
      }
    }
  },
  watch: {
    background(v, o) {
      if (v) {
        this.panelStyle = {
          'background-image': `url(${v})`
          // 'background-attachment': this.$ifMobile ? 'none' : 'fixed'
        };
        this.current = this.dataList.length - 1;
        this.styleOptions = {
          width: this.dataList.length * this.lW + 'px',
          transform: `translateX(-${this.lW * this.current}px)`
        };
      }
    }
  },
  mounted() {
    this.height = document.querySelector('#panel3').offsetTop;

    this.$refs.carousel.setActiveItem(this.current);

    if (this.ifMobile) {
      let that = this;
      this.$nextTick(() => {
        const box = that.$refs.carousel;
        if (box) {
          swiper('#panel3 .el-carousel__container', box, (type) => {
            let k = that.current;
            console.log(k);
            if (type === 'prev') {
              if (k <= 0) {
                return;
              }
              k -= 1;
            }
            if (type === 'next') {
              if (k >= that.dataList.length - 1) {
                return;
              }
              k += 1;
            }
            that.current = k;
            that.choose(k);
          });
        }
      });
    }
  },
  methods: {
    load() {},
    choose(k) {
      this.current = k;
      this.styleOptions.transform = `translateX(-${k * this.lW}px)`;
      this.$refs.carousel.setActiveItem(k);
    }
  }
};
</script>

<style lang="scss" scoped>
.panel3 {
  width: 100%;
  // height: 42vw;
  height: 800px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  // padding-top: 3vw;
  padding-top: 81px;
  overflow: hidden;
  position: relative;
  transition: all 1.3s ease;
  .shine {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 1px;
    background: rgba(28, 165, 245, 0.521);
    box-shadow: 0 0 14px rgba(64, 171, 233, 0.541);
    animation: move 2s 3s ease-in-out;
    animation-iteration-count: infinite;
    transform: rotate(60deg);
    transform-origin: center;
  }
  .shine1 {
    left: 40%;
    height: 1px;
    animation: move1 1.6s 5s ease-in;
    animation-iteration-count: infinite;
  }
  .shine2 {
    left: 43%;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.4);
    animation: move2 2.2s 2s ease-in;
    animation-iteration-count: infinite;
  }
  .shine3 {
    left: 45%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.5);
    animation: move3 1.2s 3.1s ease-in;
    animation-iteration-count: infinite;
  }
  .shine4 {
    left: 12%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.4);
    animation: move4 1.8s 3s ease-out;
    animation-iteration-count: infinite;
  }
  .panel_top {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.03);
    // opacity: 0.03;
    font-size: 100px;
    text-align: center;
    position: relative;
    .panel_title {
      position: absolute;
      font-size: 52px;
      font-weight: 500;
      color: #ffffff;
      width: 100%;
      text-align: center;
      bottom: -10px;
      left: 0;
      z-index: 1;
    }
  }
  .panel_content {
    overflow-x: hidden;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // margin-top:3.6vw;
    margin-top: 141px;
    width: 100%;
    margin-bottom: 46px;
    // height: 20vw;
    // align-items: flex-end;
    padding: 0;
    // background-color: #ddd;
    .bannersBox {
      width: 100%;
      height: 100%;
      justify-content: center;
      .year {
        margin: 0 64px;
        font-size: 80px;
        font-weight: 600;
        background-image: -webkit-linear-gradient(bottom, rgb(0, 162, 255), rgb(233, 233, 233), rgb(255, 255, 255)); //开始方向，渐变颜色
        -webkit-background-clip: text; //以盒子内的文字作为裁剪区域向外裁剪，文字之外的区域都将被裁剪掉。
        -webkit-text-fill-color: transparent; //把文字变透明
      }
      .bannerContent {
        width: 40%;
        height: 200px;
        // background-color: red;
        color: #fff;
        margin-right: -15px;
        overflow: hidden;
        // scrollbar-width: thin;
        scrollbar-width: none;
        .cells {
          position: relative;
          line-height: 1.6;
          padding-left: 20px;
          font-size: 20px;

          font-weight: 600;
          color: #fffefe;
          text-align: left;
          margin: 14px 0;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 10px;
            width: 10px;
            height: 10px;

            border-radius: 50%;
            background-color: rgba(0, 112, 255, 0.8);
          }
        }
      }
      // background: red;
    }
  }

  .panel_footer {
    // overflow-x: hidden;
    // background-color: red;
    width: 100%;
    // height: 16vw;
    height: 180px;
    overflow: hidden;
    .px_scrollBar {
      height: 120px;
      margin-left: calc(50% - 78px);
      transition: all 0.4s ease-in-out;
    }
    .px_timerXbox {
      width: 156px !important; /*no*/
      height: 100%;
      border-bottom: 3px solid rgba(37, 73, 182, 0.8);
      position: relative;
      .labels {
        text-align: center;
        position: absolute;
        left: 0;
        bottom: -50px;
        width: 100%;
        font-size: 20px;

        font-weight: 600;
        color: #585fc0;
      }
      .labelsActive {
        color: #fff !important;
      }
      .icons {
        position: absolute;
        width: 44px;
        height: 44px;
        left: 50%;
        margin-left: -22px;
        bottom: -25px;
        z-index: 1;
        opacity: 0.8;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          // transform: scale(2);
          filter: brightness(1.4);
        }
      }
      .activeIcons {
        position: absolute;
        z-index: 1;
        width: 60px;
        left: 50%;
        margin-left: -30px;
        bottom: -34px;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: backwards;
        animation-duration: 1.4s;
      }
    }
  }

  .huans {
    position: absolute;
    bottom: -30px;
    .dots {
      position: absolute;
      background: rgb(45, 182, 255);
      border-radius: 50%;
      transform: scale(1.3);
      filter: brightness(2);
    }
  }
  .huan1 {
    border: 1px solid rgb(157, 221, 255);
    border-bottom: 0;
    border-top: 0;
    border-radius: 50%;
    width: 80vw;
    height: 80vw;
    left: 50%;
    margin-left: -40vw;
    bottom: -48vw;
    border-radius: 50%;
    animation: rotate 4s linear infinite;
    .dot1 {
      width: 8px;
      height: 8px;
      left: -4px;
      top: 50%;
    }
    .dot2 {
      width: 4px;
      height: 4px;
      left: 50%;
      top: -2px;
    }
    .dot3 {
      width: 8px;
      height: 8px;
      right: -4px;
      top: 50%;
    }
    .dot4 {
      width: 4px;
      height: 4px;
      left: 50%;
      bottom: -2px;
    }
  }
  .huan2 {
    border: 0.0625rem solid rgb(164, 223, 255);
    border-left: 0;
    border-bottom: 50%;
    border-radius: 50%;
    width: 60vw;
    height: 60vw;
    left: 50%;
    margin-left: -30vw;
    bottom: -36vw;
    animation: rotate 3s ease-out infinite;
    .dot1 {
      width: 8px;
      height: 8px;
      left: -4px;
      top: 50%;
    }
    .dot2 {
      width: 4px;
      height: 4px;
      left: 50%;
      top: -2px;
    }
    .dot3 {
      width: 8px;
      height: 8px;
      right: -4px;
      top: 50%;
    }
    .dot4 {
      width: 4px;
      height: 4px;
      left: 50%;
      bottom: -2px;
    }
  }
}

.panel3.mobile {
  height: auto;
  padding-top: 32px;
  .panel_top {
    color: rgba(0, 112, 255, 0.5) !important;
  }
  .cm_container {
    padding: 28px;

    .panel_content {
      margin-top: 118px;
      width: 100%;
      height: 28vw;
      align-items: flex-end;
      // background-color: #ddd;
      .bannersBox {
        width: 100%;
        height: 100%;
        justify-content: center;

        .year {
          margin: 0 40px;
          font-size: 34px;
          font-weight: 600;
          color: #ffffff !important;
          background-image: -webkit-linear-gradient(bottom, #fff, #fff); //开始方向，渐变颜色
          -webkit-background-clip: text; //以盒子内的文字作为裁剪区域向外裁剪，文字之外的区域都将被裁剪掉。
          -webkit-text-fill-color: transparent; //把文字变透明
        }
        .bannerContent {
          flex: 1;
          height: 100%;
          // background-color: red;
          color: #fff;
          margin-right: -15px;
          overflow: hidden;

          .cells {
            font-size: 24px;
            font-weight: 600;
            color: #ffffff;
            text-align: left;
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 10px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: rgba(0, 112, 255, 1);
            }
          }
        }
        // background: red;
      }
    }

    .panel_footer {
      // overflow-x: hidden;
      // background-color: red;
      width: 100%;
      overflow: hidden;
      height: 260px;
      .px_scrollBar {
        height: 90px;
        margin-left: calc(50% - 40px);
        transition: all 0.4s ease-in-out;
      }
      .px_timerXbox {
        width: 156px; /*no*/
        height: 100%;
        border-bottom: 2px solid rgba(37, 73, 182, 1);
        position: relative;
        .labels {
          bottom: -34px;
          font-size: 14px;
          font-weight: 500;
          color: #585fc0;
        }
        .icons {
          position: absolute;
          width: 26px;
          height: 26px;
          left: 50%;
          margin-left: -13px;
          bottom: -15px;
          z-index: 1;
          opacity: 0.8;
          cursor: pointer;
          transition: all 0.5s ease;
          &:hover {
            // transform: scale(2);
            filter: brightness(1.4);
          }
        }
        .activeIcons {
          position: absolute;
          z-index: 1;
          width: 30px;
          left: 50%;
          margin-left: -15px;
          bottom: -16px;
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-fill-mode: backwards;
          animation-duration: 1.4s;
        }
      }
    }
  }
  .huans {
    position: absolute;
    bottom: -30px;
  }
  .huan1 {
    border: 1px solid rgb(157, 221, 255);
    border-bottom: 0;
    border-top: 0;
    border-radius: 50%;
    width: 160vw;
    height: 160vw;
    left: 50%;
    margin-left: -80vw;
    bottom: -82vw;
    border-radius: 50%;
    animation: rotate 4s linear infinite;
    // background: red;
    .dot1 {
      width: 8px;
      height: 8px;
      left: -4px;
      top: 50%;
    }
    .dot2 {
      width: 4px;
      height: 4px;
      left: 50%;
      top: -2px;
    }
    .dot3 {
      width: 8px;
      height: 8px;
      right: -4px;
      top: 50%;
    }
    .dot4 {
      width: 4px;
      height: 4px;
      left: 50%;
      bottom: -2px;
    }
  }
  .huan2 {
    border: 1px solid rgb(157, 221, 255);
    border-left: 0;
    border-bottom: 50%;
    border-radius: 50%;
    width: 160vw;
    height: 160vw;
    left: 50%;
    margin-left: -80vw;
    bottom: -100vw;
    animation: rotate 3s ease-out infinite;
    .dot1 {
      width: 8px;
      height: 8px;
      left: -4px;
      top: 50%;
    }
    .dot2 {
      width: 4px;
      height: 4px;
      left: 50%;
      top: -2px;
    }
    .dot3 {
      width: 8px;
      height: 8px;
      right: -4px;
      top: 50%;
    }
    .dot4 {
      width: 4px;
      height: 4px;
      left: 50%;
      bottom: -2px;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
// @media screen and (min-width: 1260px) and (max-width: 1560px) {
//   .panel_content {
//     margin-top: 6vw !important;
//   }
// }
</style>
