<!--
 * @Author       : xh
 * @Date         : 2022-05-11 17:01:03
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-19 19:26:19
 * @FilePath     : \company\src\App.vue
-->
<template>
  <div id="app" class="swrap">
    <Loading ref="pageLoading" />
    <div class="page">
      <!-- 导航 -->

      <Header :logo="logo" />
      <!-- 轮播图 -->
      <Banner v-if="!ifMobile ||(route.name!=='NewsDetail' && route.name!=='JoinDetail' ) " :banner="banner" />

      <!-- 页面部分 -->
      <div v-if="loadStatus" class="content">
        <div class="container">
          <transition
            name="custom-classes-transition"
            :duration="{ enter: 300, leave: 100 }"
            mode="out-in"
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
          >
            <!-- <keep-alive> -->
            <router-view />
            <!-- </keep-alive> -->
          </transition>
        </div>
      </div>

      <!-- 尾巴 -->
      <Footer
        :wx-qr-code="wxQrCode" :foot-data="footData" :logo="logo"
        :bottom-info="bottomInfo"
      />
    </div>
    <div v-if="backShow" class="backShow animated fadeInUp" @click="_back">
      UP
    </div>
  </div>
</template>

<script>

import {config} from '@/api/app';
import Loading from '@/components/Loading';
import Header from '@/components/Header';
import Banner from '@/components/Banner';
import Footer from '@/components/Footer';
export default {
  name: 'App',
  components: {
    Header,
    Banner,
    Footer,
    Loading
  },
  data() {
    return {
      ifMobile: this.$ifMobile,
      active: 1,
      headerShow: true,

      logo: '',
      banner: [],
      wxQrCode: '',
      footData: [],
      bottomInfo: {},
      loadStatus: false,
      backShow: true
    };
  },
  computed: {
    route() {
      return this.$route;
    }
  },
  watch: {},
  mounted() {
    let that = this;
    this.initConfig();
    this.$bus.$on('headerShow', (b) => {
      // debugger
      that.backShow = !b;
    });

  },
  methods: {
    _back() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    },
    async initConfig () {
      try {
        const res = await config();
        this.logo = res.logo;
        this.banner = res.topCarousel;
        this.wxQrCode = res.wxQrCode;
        this.footData = res.productBlock;
        this.bottomInfo = res.bottomInfo;
        this.loadStatus = true;
        const localOptions = {
          educationRequire: res.educationRequire,
          experience: res.experience,
          jobType: res.jobType,
          recruitType: res.recruitType
        };
        localStorage.setItem('localOptions', JSON.stringify(localOptions));
        if (res.jobBackground) {localStorage.setItem('jobBackground', res.jobBackground);}
        if (res.productBlock) {localStorage.setItem('productBlock', JSON.stringify(res.productBlock));}
        // debugger;
      } catch (error) {

      }
    }

  }
};
</script>

<style lang="scss">
@import "./styles/reset.css";
@import "./styles/common.scss";
@import "./styles/animate.css";
// @import './styles/btns.css';
.page {
  padding-top: 90px;
}

#app {
  width: 100%;
  overflow: hidden;
}
.backShow{
  cursor: pointer;
  position: fixed;
  z-index: 100;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: rgba(255,255,255,.8);
  box-shadow: 0 0 10px  #eee;
  text-align: center;
  line-height: 60px;
  color: var(--primary);
  font-size: 30px;
  right: 40px;
  bottom: 40px;
  font-weight: 500;
}
</style>
