<!--
 * @Author       : xh
 * @Date         : 2022-05-09 10:20:07
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-17 13:42:50
 * @FilePath     : \company\src\components\Banner\index.vue
-->

<template>
  <div id="banner" class="animated fadeIn">
    <el-carousel
      ref="slideCarousel"
      :height="ifMobile ? '134px' : '400px'"
      :interval="5000"
      :autoplay="true"
      indicator-position="bottom"
    >
      <el-carousel-item v-for="(item, index) in banner" :key="index">
        <!-- <img :src="item" class="banners" alt=""> -->
        <el-image
          style="width: 100%; height: 100%"
          :src="item"
          fit="cover"
          :preview-src-list="banner"
        />
        <!-- <div class="banners" :style="{backgroundImage:`url(${item})`}" /> -->
      </el-carousel-item>
    </el-carousel>
  </div>
</template>

<script>
import {swiper} from '@/utils/swiper.js';
export default {
  name: 'BannerCom',
  props: {
    banner: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      ifMobile: this.$ifMobile,
      list: []
    };
  },
  created() {
    if (this.ifMobile) {
      let that = this;
      this.$nextTick(() => {
        const box = that.$refs.slideCarousel;
        if (box) {swiper('#banner .el-carousel__container', box);}
      });
    }
  },
  methods: {


  }
};
</script>

<style scoped lang="scss">
.banners {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  // background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
</style>
